/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
	font-size: 18px; /* 125% of the baseline */
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}

.navbar-brand {
	position: absolute;
	left: 50%;
	margin-left: -50px !important;  /* 50% of your logo width */
	display: block;
}

.navbar-left {
  float: left;
  margin-left: 15px;
}

.cover {
	padding: 50px 15px 0 !important;
}

.section {
	padding: 0px 20px 0;
}

.center{
	text-align:center;
}

#sectionX .fp-tableCell{
   vertical-align: top;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.clickable {
	cursor: pointer;
}

.fp-enabled .modal{
   position:fixed !important;
}

.boxed {
  border: 1px solid green ;
  padding: 2px;
}
